<div class="customers-articles__post-challenge">
  <span class="customers-articles__post-challenge-title">チャレンジしたことを投稿しよう！</span>
  <div class="customers-articles__error"><%= flash[:post_challange_error] %></div>

  <% if customer_signed_in? %>
    <%= form_with(model: [article, post_challenge], local: true) do |f| %>
      <div class="customers-articles__post-challenge-form">
        <div class="customers-articles__post-challenge-form--item">
          <%= f.label "画像投稿（画像投稿は任意です）" %><br />
          <%= f.attachment_field :image %>
        </div>
        <div class="customers-articles__post-challenge-form--item">
          <%= f.label "チャレンジ" %><br />
          <%= f.text_area :comment, placeholder: "チャレンジしたこと", style: "width: 300px; height: 50px;" %>
        </div>
        <div class="customers-articles__post-challenge-form--item">
          <%= f.submit "チャレンジ投稿", class: "btn btn-sm btn-success" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="customers-articles__show--non-customer">
      <%= "**会員登録すると、あなたのチャレンジを投稿できるようになります！**" %>
    </div>
  <% end %>
</div>

<div class="customers-articles__post-challenges">
  <span class="customers-articles__post-challenges-title">みんなのチャレンジ！</span>
  <p>
    <span class="customers-articles__post-challenges-is-student-true">学生の方</span>
    <span class="customers-articles__post-challenges-is-student-false">企業の方</span>
  </p>
  <table class="table table-hover">
    <tr>
      <th class="customers-articles__post-challenges-table-poster">投稿者</th>
      <th class="customers-articles__post-challenges-table-day">投稿日</th>
      <th class="customers-articles__post-challenges-table-image">投稿画像</th>
      <th class="customers-articles__post-challenges-table-challenge">チャレンジ</th>
      <th class="customers-articles__post-challenges-table-action">
        <% if current_customer.is_student == false %>
          Seek You!
        <% end %>
      </th>
    </tr>
    <% post_challenges.each do |post_challenge| %>
      <tr>
        <td>
          <% if post_challenge.customer.is_student == true %>
            <span class="customers-articles__post-challenges-table-is-student-true"></span>
          <% else %>
            <span class="customers-articles__post-challenges-table-is-student-false"></span>
          <% end %>
          <%= post_challenge.customer.last_name + post_challenge.customer.first_name %>
        </td>
        <td>
          <%= post_challenge.created_at.strftime("%Y-%m-%d %H:%M") %>
        </td>
        <td><%= attachment_image_tag post_challenge, :image %></td>
        <td><%= post_challenge.comment %></td>
        <td class="customers-articles__post-challenges--actions">
          <% if post_challenge.customer == current_customer %>
            <%= link_to "削除", article_post_challenge_path(post_challenge.article, post_challenge), method: :delete, class: "btn btn-sm btn-danger" %>
          <% elsif current_customer.is_student == false %>
            <% if post_challenge.customer.is_student == true %>
              <% if post_challenge.seeked_by?(current_customer) %>
                <i class="fas fa-thumbs-up", area-hidden="true", style="color: #55B17A; font-size: 18px;"></i>
              <% else %>
                <%= link_to article_post_challenge_seeks_path(article, post_challenge), method: :post do %>
                  <i class="far fa-thumbs-up", style="color: gray; font-size: 18px;"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>