
<!--css => app/assets/stylesheets/customers/customer-articles.scss-->

<div class="customers-articles">
  <div class="customers-articles__show">
    <div class="customers-articles__show-form customers-articles__show-form-title">
      <%= @article.title %>
    </div>

    <div class="customers-articles__show-form">
      <%= "配信日 " %>
      <%= @article.created_at.strftime("%Y-%m-%d %H:%M") %>
      <% if @article.created_at != @article.updated_at %>
        <%= " || " %>
        <%= "更新日 " %>
        <%= @article.updated_at.strftime("%Y-%m-%d %H:%M") %>
      <% end %>
      <%= " || " %>
      <%= @article.post_challenges.count.to_s(:delimited) %>件のチャレンジ
    </div>

    <div class="customers-articles__show-form customers-articles__show-form-category">
      <div class="customers-articles__show-form-category--1">
        <%= @article.category_1 %>
      </div>
      <% if @article.category_2 != nil %>
        <div class="customers-articles__show-form-category--1">
          <%= @article.category_2 %>
        </div>
      <% end %>
      <% if @article.category_3 != nil %>
        <div class="customers-articles__show-form-category--1">
          <%= @article.category_3 %>
        </div>
      <% end %>

      <% if customer_signed_in? %>
        <div class="customers-articles__show-form-favorite">
          <% if @article.favorited_by?(current_customer) %>
            <%= link_to article_favorite_path(@article), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @article.favorites.count %> いいね！
            <% end %>
          <% else %>
            <%= link_to article_favorite_path(@article), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @article.favorites.count %> いいね！
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="customers-articles__show--non-customer">
          <%= "**会員登録すると、「いいね！」機能が使えるようになります！**" %>
        </div>
      <% end %>
    </div>

    <div class="customers-articles__show-contents">
      <div class="customers-articles__show-form customers-articles__show-image">
        <%= attachment_image_tag @article, :image, size: "640x350" %>
      </div>

      <div class="customers-articles__show-form">
        <%= @article.text %>
      </div>

      <div class="customers-articles__post-challenge">
        <span class="customers-articles__post-challenge-title">チャレンジしたことを投稿しよう！</span>
        <div class="customers-articles__error"><%= flash[:post_challange_error] %></div>

        <% if customer_signed_in? %>
          <%= form_with(model: [@article, @post_challenge], local: true) do |f| %>
            <div class="customers-articles__post-challenge-form">
              <div class="customers-articles__post-challenge-form--item">
                <%= f.label "画像投稿（画像投稿は任意です）" %><br />
                <%= f.attachment_field :image %>
              </div>
              <div class="customers-articles__post-challenge-form--item">
                <%= f.label "チャレンジ" %><br />
                <%= f.text_area :comment, placeholder: "チャレンジしたこと", style: "width: 300px; height: 50px;" %>
              </div>
              <div class="customers-articles__post-challenge-form--item">
                <%= f.submit "チャレンジ投稿", class: "btn btn-sm btn-success" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="customers-articles__show--non-customer">
            <%= "**会員登録すると、あなたのチャレンジを投稿できるようになります！**" %>
          </div>
        <% end %>
      </div>

      <div class="customers-articles__post-challenges">
        <span class="customers-articles__post-challenges-title">みんなのチャレンジ！</span>
        <p>
          <span class="customers-articles__post-challenges-is-student-true">学生の方</span>
          <span class="customers-articles__post-challenges-is-student-false">企業の方</span>
        </p>
        <table class="table table-hover">
          <tr>
            <th class="customers-articles__post-challenges-table-poster">投稿者</th>
            <th class="customers-articles__post-challenges-table-day">投稿日</th>
            <th class="customers-articles__post-challenges-table-image">投稿画像</th>
            <th class="customers-articles__post-challenges-table-challenge">チャレンジ</th>
            <th class="customers-articles__post-challenges-table-action"></th>
          </tr>
          <% @article.post_challenges.each do |post_challenge| %>
            <tr>
              <td>
                <span class="customers-articles__a"></span>
                <%= post_challenge.customer.last_name + post_challenge.customer.first_name %>
              </td>
              <td>
                <%= post_challenge.created_at.strftime("%Y-%m-%d %H:%M") %>
              </td>
              <td><%= attachment_image_tag post_challenge, :image %></td>
              <td><%= post_challenge.comment %></td>
              <td>
                <% if post_challenge.customer == current_customer %>
                  <%= link_to "削除", article_post_challenge_path(post_challenge.article, post_challenge), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="customers-articles__show-actions">
      <%= link_to "記事一覧へ戻る", articles_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>