
<!--css => app/assets/stylesheets/customers/customers.scss-->

<div class="customers">
  <h3 class="customers__title">My Page</h3>

  <div class="customers__show">
    <table class="table table-hover">
      <tr>
        <th>姓　名</th>
        <td><%= current_customer.last_name + "　" + current_customer.first_name %></td>
      </tr>
      <tr>
        <th>セイ　メイ</th>
        <td><%= current_customer.last_name_kana + "　" + current_customer.first_name_kana %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= current_customer.gender %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= current_customer.age %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= current_customer.email %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= current_customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= current_customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= current_customer.telephone_number %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td>
          <% if current_customer.is_student == true %>
            <%= "学生" %>
          <% else %>
            <%= "社会人" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td>
          <% if current_customer.is_active == true %>
            <%= "有効会員" %>
          <% else %>
            <%= "退会者" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= current_customer.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    </table>

    <div class="customers__show-button">
      <%= link_to "編集する", edit_customer_path, class: "btn btn-warning" %>
      <span class="customers__show-button--hide">
        <%= link_to "退会する", confirm_customer_path, class: "btn btn-danger" %>
      </span>
    </div>
  </div>
</div>
</div>