
<!--css => app/assets/stylesheets/admins/admins-articles.scss-->
<!--helper => app/helpers/application_helper.rb-->

<div class="admins-articles">
  <h3 class="admins-articles__title">記事一覧</h3>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <%= render "admins/articles/sidebar.html.erb", genres: @genres %>
      </div>

      <div class="col-sm-10">
        <div class="admins-articles__search">
          <%= form_tag(admins_articles_path, method: :get) do %>
            <%= "記事検索" %>
            <%= text_field_tag :title, "", placeholder: "タイトル検索" %>
            <%= submit_tag "検索", class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>

        <div class="admins-articles__create">
          <%= link_to new_admins_article_path do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>

        <div class="admins-articles__index-table">
          <table class="table table-hover">
            <tr class="admins-articles__index-table-header">
              <th class="admins-articles__index-table--header-1">タイトル</th>
              <th class="admins-articles__index-table--header-2">配信日</th>
              <th class="admins-articles__index-table--header-2">ジャンル</th>
              <th class="admins-articles__index-table--header-2">カテゴリー</th>
              <th class="admins-articles__index-table--header-2">総閲覧数</th>
              <th class="admins-articles__index-table--header-2">いいね数(率)</th>
              <th class="admins-articles__index-table--header-3">ステータス</th>
            </tr>

            <% @articles.each do |article| %>
              <tr onclick='window.location="<%= admins_article_path(article) %>"', class="table-cursor">
                <td><%= article.title %></td>
                <td><%= id_created_at(article) %></td>
                <td><%= article.genre.name %></td>
                <td>
                  <%= article.category_1 %><br />
                  <%= article.category_2 %><br />
                  <%= article.category_3 %>
                </td>
                <td class="admins-articles__index-table--pv">
                  <%= @browsing_histories.where(article_id: article.id).count.to_s(:delimited) %> pv
                </td>
                <td class="admins-articles__index-table--favorite">
                  <%= @favorites.where(article_id: article.id).count.to_s(:delimited) %> 件<br />
                  <%= "(#{sprintf("%.1f",((@favorites.where(article_id: article.id).count).quo(@browsing_histories.where(article_id: article.id).count)*100.to_f))}%)" %></td>
                <td class="admins-articles__index-table--status">
                  <% if article.is_active == true %>
                    <%= "配信中" %>
                  <% else %>
                    <%= "配信停止" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="admins-articles__paginate">
          <%= paginate @articles %>
        </div>
      </div>
    </div>
  </div>
</div>